.container{
  width: 100%;
}

.steps{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
  width: fit-content;
}

.step__bar{
  width: 100%;
  margin:0 1rem;
  height: 2px;
  background-color: var(--step-bar-active);
}

.step__bar.disabled{
  background-color: var(--step-bar-disabled);
}

.step__circle {
  width: 32px;
  height: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  color: var(--step-active);
  background-color: transparent;
  border: 1px solid var(--step-active);
}

.step__circle.checked{
  color: var(--step-circle-checked);
  background-color: var(--step-circle-bg-checked);
  border: 0;
}

.step__circle.disabled{
  color: var(--step-disabled);
  border: 1px solid var(--step-disabled);
}

.step__label{
  display: none;
}

@media screen and (min-width: 375px) {
  .step{
    width: 100%;
  }
  .step__circle {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
  }

  .step__label{
    all: unset;
    font-size: 16px;
    color: var(--step-active);
    line-height: 24px;
  }
  .step__label.disabled{
    color: var(--step-disabled);
  }

  .step__bar{
    width: 80%;
  }
}
