:global(header){
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--mobile-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  z-index: 20;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.logo{
  width: 135px;
  height: 24px;
  margin: auto;
}

.hamburger__label{
  position: absolute;
  left: var(--mobile-edge-width);
}

.nav{
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: inherit;
  z-index: 30;
  transition: transform 0.3s ease-out;
  transform: scale(1, 0);
  transform-origin: top;
}

.hamburger__input{
  display: none;
}

.hamburger__input:checked ~ .nav {
    transform: scale(1, 1);
}

.menu__item{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--header-menu-border);
}

.menu__item__link{
  cursor: pointer;
}

.nav__icons__list{
  display: flex;
  justify-content: center;
}

.icon__wrapper{
  margin: 16px 20px;
  align-items: center;
  cursor: pointer;
}

.icon{
  cursor: pointer;
}

.darkmode__input{
  display: none;
}

@media screen and (min-width: 375px) {
  :global(header){
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 var(--desktop-edge-width);
    height: var(--desktop-header-height);
  }
  .brand{
    position: absolute;
    z-index: 999;
    margin: 15px auto;
  }

  .logo{
    visibility:hidden;
  }

  .hamburger__label{
    display: none;
  }

  .nav{
    all: unset;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .nav__menu__list{
    display: flex;
  }

  .menu__item{
    border-bottom: 0;
    margin-right: 1rem;
  }

  .icon__wrapper{
    margin: 0;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo{
    visibility: visible;
    width: 170px;
    height: 30px;
  }
}